body{
    color: pink;
    background: gold;
    margin: 0px;
    font-family: "Itim", cursive;
    margin-bottom: 180px;
}
header{
    border-bottom: solid 2px pink;
    padding: 20px;
    font-size: 32px;
    color:  blue;
}

.camada{
    background: red;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
